* {
	background-image: none;
	box-shadow: none;
    font-family: 'JetBrains Mono'
}

window {
	background-color: rgba(23, 23, 23, 0.8);
}

button {
    border-radius: 12;
    margin: 8px;
    border-color: #eeeeee;
	text-decoration-color: #eeeeee;
    color: #eeeeee;
	background-color: #1c1c1c;
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #2f2f2f;
	outline-style: none;
}

#lock {
    background-image: image(url("./icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("./icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("./icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("./icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("./icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
